<header class="header header--home">
  {% render 'navigation'%}
  <div class="header__content">
    <h1 class="title title--header">
      Team <br />
      barbell
    </h1>
    <p class="paragraph paragaraph--header">
      Team Barbell was to design a piece of equipment that matches the
      performance and quality of other elite level competition bars.
    </p>
    <a href="#" class="cta cta--header"
      ><span>Explore</span
      ><span><img src="{{ "arrow-long.png" | asset_url }}" alt="" /></span></a
    >
  </div>
</header>
