<style>
    .container{
        height: 70vh;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        font-family: var(--main-font);

    }
    .container h1{
      
        font-size: 5rem;
    }
    .container h2{
        font-size: 3rem;
        transition: all 0.2s;
        padding: 1rem 3rem;
    }
    .container h2:hover{

background: rgba(218, 0, 0, 0.1);
    border: 1px solid #DA0000;
    color: #DA0000;
    
    }
    a{
        width: max-content;
        text-align: center;
    }
    h1{
        width: max-content;
    }
</style>
{%include "navigation" %}
<div class="container">
    <h1>Hi {{customer.first_name}}!👋</h1>
    <a href="{{routes.account_logout_url}}"><h2>Log out</h2></a>

</div>