<style>
    .container{
        height: 50vh;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    a{
        width: max-content;
        text-align: center;
    }
    h1{
        width: max-content;
    }
</style>
<div class="container">
    <a href="{{routes.account_logout_url}}"><h1>Log out</h1></a>

</div>