{{"style.login.css" | asset_url | stylesheet_tag }}
<div class="container">
    <div class="form-container">
        <h1 class="title title--form">Reset Your Password</h1>
        {% form 'reset_customer_password',return_to:"/" %}
     
        {{ form.errors | default_errors }} 
          <div class="password input-box">
            <label for="password">New Password</label >
            <input type="password" name="customer[password]" required minlength="8">
          </div>
          <div class="password_confirmation input-box">
            <label for="password_confirmation">Confirm Password</label >
            <input type="password" name="customer[password_confirmation]">
          </div>
          <div class="submit ">
            <input type="submit" value="Reset Password">
          </div>
        {% endform %}
   
    </div>
</div>