<div class="advertisement">{{section.settings.advertisement_content}}</div>
{% schema %}
{
    "name":"Advertisement",
    "tag":"div",
    "class":"advertisement",
    "settings": [
    {
      "type": "text",
      "id": "advertisement_content",
      "label": "Content"
    }
  ]
}
{% endschema %}