

/* ----------------- ADVERTISEMENT PART -------------------- */
.advertisement{
    font-family: var(--secondary-font);
   font-size: 12px;
   font-weight: 300;
   line-height: 20px;
   letter-spacing: 0.16em;
   text-align: center;
   color: var(--color-primary);
   padding:1rem;
  
   }
/* ---------------- Header home ------------ */
.header--home{
    height: 100vh;
    width: 100%;
    /*  */
    background-position:center;
    background-size:cover;
    background-repeat:no-repeat;
    padding:4rem;
    padding-top:0;
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    /* background-color:red; */
}

   /* ------------------- NAVIGATION -------------------- */
   .navigation{
    display: flex;
    justify-content: space-between;
    padding: 1.7rem 0;
   }
   .logo-box{
    height: 20px;
   }
   .list{
    display: flex !important;
    list-style: none;
   }
   .list--main-menu{
   
    display: flex !important;
font-family:var(--main-font);
font-size: 12px;
font-weight: 400;
line-height: 17px;
letter-spacing: 0.175em;
text-align: left;
text-transform: uppercase;
gap: 4rem;
}
.list--search{
   gap: 2.1rem;
    
}
.item--main-menu>*{
       color: var(--color-primary--light);
text-decoration: none;
   }
   /* ------------------ HEADER CONTENT----- */
   .header__content{
    display: flex;
    flex-direction: column;
    gap: 2rem;
   }
    .title{

    }
    .title--header{
   text-transform: uppercase;     
font-family:var(--main-font);
font-size: 60px;
font-weight: 700;
line-height: 78px;
letter-spacing: 0.24em;
text-align: left;
width: min-content;
color: var(--color-primary--light);
    }
    .paragaraph{
        
    }
    p{
        font-family:var(--main-font);
        font-size: 14px;
        font-weight: 400;
        line-height: 23px;
        letter-spacing: 0em;
        text-align: left;
       color: var(--color-primary--light); 
       width: 40%;  
    }
    .cta{

    }
    .cta--header{
        width: max-content;
    border: solid 1px white;
font-family:var(--main-font);
font-size: 12px;
font-weight: 400;
line-height: 16px;
letter-spacing: 0.175em;
text-align: left;
text-transform: uppercase;
color: var(--color-primary--light);
        display: flex;
        align-items: center;
        gap:10rem ;
        padding: 1.5rem;
    }
    .cta--header span img {
        width: 16px;
        height: min-content;
    }
    a{
        text-decoration: none;
    }